.homepage{
   background-image: url("/images/fondo-pag-speciali.jpg");
   section{
       padding: 80px 0;

      .cards{
         display: flex;
         flex-wrap: wrap;
         .card{
            max-width: calc((100%/3) - 20px);
            margin-top: 20px;
            overflow: hidden;
            &:not(:last-child){
               margin-right: 20px;
               @media screen and (max-width: 480px){
                  margin-right: 0px;
               }  
            }
            img{
               width: 100%;
            }
            @media screen and (max-width: 768px){
               max-width: calc((100%/2) - 20px);
            }
            @media screen and (max-width: 480px){
               max-width: calc(100% - 20px);
            }
         }
      }
      h2{
         font-size: 40px;
         text-transform: uppercase;
         color: $mainFont;
         @media screen and (max-width: 480px){
            font-size: 25px;
         }
      }   
   }
 
}